:root {
    --brown: #B77F66;
    --light: #FAEDCA;
    --green: #5B7553;
    --orange: #F58B00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: var(--brown);
    padding: 16px 32px;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--brown);
    min-height: 100vh;
}

/* HEADER */
.menu {
    background-color: var(--light);
    border-radius: 20px 20px 0 0;
}

.menu-container {
    display: flex;
    justify-content: space-between; /* Répartit les éléments : logo, menu, connexion */
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    max-width: 1200px; /* Largeur maximale */
}

.logo-header {
    margin: 0; /* Supprime toute marge inutile */
}

.logo-header img {
    width: 100px;
    height: 100px;
}

.menu-header ul {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center;
    gap: 64px; /* Espace entre les éléments */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-header a {
    text-decoration: none;
    color: var(--brown);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .btn-header {
    margin-left: 10px;
    border: 2px solid var(--brown);
    border-radius: 30px;
    padding: 8px 16px;
    font-weight: bold;
    color: var(--brown);
    background-color: var(--light);
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: var(--light);
    padding: 16px 0;
    border-radius: 0 0 20px 20px;
    text-align: center;
    font-size: 0.9rem;
    color: var(--brown);
}

/* MAIN */
main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
